<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/navigation %>
    </header>

    <main>

        <div class="container">

            <h1>XiLoRa - Connecting Xively and The Things Network</h1>
            <img style="max-width: 700px;" src="img/project_logo.png" class="img-responsive" alt="Xively and The Things Network logo"
            />

            <br><br>

            <h1>Overview</h1>
            
            <p>The main elements of XiLoRa are:</p>

            <ul>
                <li><b>Dashboard</b> - XiLoRa service overview and controls</li>
                <li><b>Configuration</b> - Configure the connections to Xively and The Things Network</li>
                <li><b>Mapping</b> - Link Xively and TTN devices and define what data should be sychronised</li>
            </ul>


            <br><br>
            <h1>Documentation</h1>

            <p>
                Please refer to the <a href="https://github.com/embee8/ttn-xively-connector" target="_blank">README</a> and <a href="https://github.com/embee8/ttn-xively-connector/wiki" target="_blank">Wiki</a> for detailed documentation and setup guides. 
            </p>


            <br><br>

            <h1>Notes</h1>

            <p>
                Devices and mappings can be created, edited, and deleted on-the-fly and will be processed by XiLoRa immediately.
            </p>

            <p>
                There are two scenarios in which a manual restart is required.
            </p>

            <ul>
                <li>If a new TTN app is added</li>
                <li>If the Xively or TTN connection parameters are changed.</li>
            </ul>

            <p>
                To restart the service, navigate to the <a href="/dashboard">Dashboard page</a> and click the 'Restart XiLoRa' button.
            </p>

        </div>
        <!--/.container -->

    </main>

    <footer>

    </footer>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</html>